{% extends "main/base.html" %}
{% block heading %}新增程式語言分類{% endblock %}
{% block content %}


{% if category %}

 {% if pages %}
 <table style="text-align: center;" >
 <tr><th>頁面標題</th></tr>
 {% for page in pages %}
 <tr><td><a href={{page.url}}>{{page.title}}</a></td>
 <td>
 {% if user.is_authenticated %}
 <form action={% url 'wiki:updatePage' page.id %}>
 <input type=submit value=修改>
 </form>
 {% endif %}
 </td>
 <td>
 {% if user.is_authenticated %}
 <form method=post action={% url 'wiki:deletePage' page.id %}>
 {% csrf_token %}
 <input type=submit value=刪除>
 </form>
 {% endif %}
 </td> 
 </tr>
 
 {% endfor %}
 </table>
 {% else %}
 <p><strong>此類別目前並無頁面。</strong></p>
 {% endif %}
 {% if user.is_authenticated %}
 <p><a href={% url 'wiki:addPage' category.id %}>新增頁面</a></p>
 {% endif %} 
{% else %}
 <p>所指定的類別「{{categoryID}}」不存在。</p>
{% endif %}
{% endblock %}
